---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/static-data/na/v1.2/realm?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"css\":\"0.152.55\",\"dd\":\"4.2.6\",\"l\":\"en_US\",\"n\":{\"item\":\"4.5.4\",\"rune\":\"4.5.4\",\"mastery\":\"4.5.4\",\"summoner\":\"4.5.4\",\"champion\":\"4.5.4\",\"profileicon\":\"4.5.4\",\"language\":\"4.5.4\"},\"profileiconmax\":28,\"v\":\"4.5.4\",\"lg\":\"0.152.55\",\"cdn\":\"http://ddragon.leagueoflegends.com/cdn\"}"
  recorded_at: Thu, 17 Apr 2014 19:08:45 GMT
recorded_with: VCR 2.9.0
