---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/static-data/na/v1.2/realm?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"css":"5.22.3","dd":"5.22.3","l":"en_US","n":{"item":"5.22.3","rune":"5.22.3","mastery":"5.22.3","summoner":"5.22.3","champion":"5.22.3","profileicon":"5.22.3","map":"5.22.3","language":"5.22.3"},"profileiconmax":28,"v":"5.22.3","lg":"5.22.3","cdn":"http://ddragon.leagueoflegends.com/cdn"}'
  recorded_at: Sun, 15 Nov 2015 20:38:34 GMT
recorded_with: VCR 3.0.0
