---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.3/game/by-summoner/64878685/recent?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"summonerId":64878685,"games":[{"gameId":1994384594,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"CAP_5x5","mapId":11,"teamId":100,"championId":11,"spell1":11,"spell2":4,"level":30,"ipEarned":85,"createDate":1446215523369,"fellowPlayers":[{"summonerId":24639929,"teamId":100,"championId":63},{"summonerId":67992957,"teamId":200,"championId":98},{"summonerId":47640623,"teamId":100,"championId":24},{"summonerId":45798560,"teamId":200,"championId":79},{"summonerId":43971415,"teamId":100,"championId":67},{"summonerId":55895586,"teamId":200,"championId":122},{"summonerId":44549864,"teamId":100,"championId":122},{"summonerId":46220407,"teamId":200,"championId":268},{"summonerId":40696710,"teamId":200,"championId":81}],"stats":{"level":17,"goldEarned":14606,"numDeaths":14,"turretsKilled":1,"minionsKilled":25,"championsKilled":6,"goldSpent":14480,"totalDamageDealt":167633,"totalDamageTaken":45549,"doubleKills":1,"killingSprees":2,"largestKillingSpree":2,"team":100,"win":false,"neutralMinionsKilled":87,"largestMultiKill":2,"physicalDamageDealtPlayer":129963,"magicDamageDealtPlayer":23117,"physicalDamageTaken":30194,"magicDamageTaken":12860,"largestCriticalStrike":952,"timePlayed":2941,"totalHeal":6034,"totalUnitsHealed":1,"assists":9,"item0":1304,"item1":3031,"item2":3153,"item3":3211,"item4":3801,"item5":3931,"item6":3364,"sightWardsBought":5,"visionWardsBought":3,"magicDamageDealtToChampions":1585,"physicalDamageDealtToChampions":12212,"totalDamageDealtToChampions":15829,"trueDamageDealtPlayer":14551,"trueDamageDealtToChampions":2031,"trueDamageTaken":2494,"wardKilled":5,"wardPlaced":9,"neutralMinionsKilledEnemyJungle":5,"neutralMinionsKilledYourJungle":82,"totalTimeCrowdControlDealt":423,"playerPosition":3}},{"gameId":1990031511,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"ONEFORALL_5x5","mapId":11,"teamId":200,"championId":120,"spell1":14,"spell2":6,"level":30,"ipEarned":151,"createDate":1445771986986,"fellowPlayers":[{"summonerId":32454377,"teamId":200,"championId":120},{"summonerId":478597,"teamId":200,"championId":120},{"summonerId":37959363,"teamId":100,"championId":122},{"summonerId":24473232,"teamId":100,"championId":122},{"summonerId":22917584,"teamId":200,"championId":120},{"summonerId":50837327,"teamId":200,"championId":120},{"summonerId":122070,"teamId":100,"championId":122},{"summonerId":35672670,"teamId":100,"championId":122},{"summonerId":35555025,"teamId":100,"championId":122}],"stats":{"level":9,"goldEarned":4189,"numDeaths":9,"minionsKilled":49,"goldSpent":3580,"totalDamageDealt":34851,"totalDamageTaken":18852,"team":200,"win":false,"neutralMinionsKilled":4,"physicalDamageDealtPlayer":28464,"magicDamageDealtPlayer":5927,"physicalDamageTaken":16459,"magicDamageTaken":4,"timePlayed":1219,"totalHeal":1534,"totalUnitsHealed":1,"assists":3,"item0":2041,"item1":2003,"item2":3044,"item3":3057,"item4":1001,"item6":3340,"magicDamageDealtToChampions":1363,"physicalDamageDealtToChampions":6900,"totalDamageDealtToChampions":8724,"trueDamageDealtPlayer":460,"trueDamageDealtToChampions":460,"trueDamageTaken":2388,"wardPlaced":3,"neutralMinionsKilledYourJungle":4,"totalTimeCrowdControlDealt":26,"playerRole":1,"playerPosition":1}},{"gameId":1989405842,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"RANKED_SOLO_5x5","mapId":11,"teamId":200,"championId":19,"spell1":11,"spell2":4,"level":30,"ipEarned":106,"createDate":1445723344034,"fellowPlayers":[{"summonerId":43764031,"teamId":100,"championId":89},{"summonerId":56805651,"teamId":100,"championId":131},{"summonerId":21969700,"teamId":200,"championId":39},{"summonerId":53025297,"teamId":200,"championId":53},{"summonerId":53869[...]
