---
http_interactions:
- request:
    method: get
    uri: http://na.api.pvp.net/api/lol/na/v1.3/game/by-summoner/42139310/recent?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"summonerId\":42139310,\"games\":[{\"gameId\":1343968300,\"invalid\":false,\"gameMode\":\"CLASSIC\",\"gameType\":\"MATCHED_GAME\",\"subType\":\"URF\",\"mapId\":1,\"teamId\":200,\"championId\":91,\"spell1\":12,\"spell2\":4,\"level\":30,\"ipEarned\":226,\"createDate\":1397335128335,\"fellowPlayers\":[{\"summonerId\":48691041,\"teamId\":100,\"championId\":19},{\"summonerId\":42242206,\"teamId\":200,\"championId\":57},{\"summonerId\":49325097,\"teamId\":200,\"championId\":92},{\"summonerId\":37345295,\"teamId\":100,\"championId\":21},{\"summonerId\":14938,\"teamId\":100,\"championId\":44},{\"summonerId\":124407,\"teamId\":100,\"championId\":92},{\"summonerId\":39505156,\"teamId\":200,\"championId\":54},{\"summonerId\":36789621,\"teamId\":100,\"championId\":45},{\"summonerId\":43009385,\"teamId\":200,\"championId\":84}],\"stats\":{\"level\":13,\"goldEarned\":11391,\"numDeaths\":6,\"turretsKilled\":3,\"minionsKilled\":79,\"championsKilled\":3,\"goldSpent\":9735,\"totalDamageDealt\":74680,\"totalDamageTaken\":16041,\"killingSprees\":1,\"largestKillingSpree\":3,\"team\":200,\"win\":true,\"neutralMinionsKilled\":13,\"largestMultiKill\":1,\"physicalDamageDealtPlayer\":74564,\"physicalDamageTaken\":9068,\"magicDamageTaken\":6972,\"timePlayed\":1329,\"totalHeal\":168,\"totalUnitsHealed\":1,\"assists\":8,\"item0\":3035,\"item1\":3074,\"item2\":1001,\"item3\":2003,\"item4\":3072,\"item5\":1028,\"item6\":3340,\"physicalDamageDealtToChampions\":10917,\"totalDamageDealtToChampions\":11033,\"trueDamageDealtPlayer\":116,\"trueDamageDealtToChampions\":116,\"wardPlaced\":3,\"neutralMinionsKilledEnemyJungle\":3,\"neutralMinionsKilledYourJungle\":10,\"totalTimeCrowdControlDealt\":801}},{\"gameId\":1343960966,\"invalid\":false,\"gameMode\":\"CLASSIC\",\"gameType\":\"MATCHED_GAME\",\"subType\":\"URF\",\"mapId\":1,\"teamId\":100,\"championId\":32,\"spell1\":12,\"spell2\":14,\"level\":30,\"ipEarned\":55,\"createDate\":1397333518836,\"fellowPlayers\":[{\"summonerId\":44791224,\"teamId\":200,\"championId\":40},{\"summonerId\":42242206,\"teamId\":100,\"championId\":126},{\"summonerId\":49325097,\"teamId\":100,\"championId\":92},{\"summonerId\":22993497,\"teamId\":200,\"championId\":35},{\"summonerId\":34654834,\"teamId\":200,\"championId\":36},{\"summonerId\":39505156,\"teamId\":100,\"championId\":11},{\"summonerId\":43049543,\"teamId\":200,\"championId\":50},{\"summonerId\":48610345,\"teamId\":200,\"championId\":131},{\"summonerId\":43009385,\"teamId\":100,\"championId\":133}],\"stats\":{\"level\":16,\"goldEarned\":12833,\"numDeaths\":16,\"turretsKilled\":1,\"minionsKilled\":112,\"championsKilled\":1,\"goldSpent\":12360,\"totalDamageDealt\":112579,\"totalDamageTaken\":37155,\"team\":100,\"win\":false,\"neutralMinionsKilled\":3,\"largestMultiKill\":1,\"physicalDamageDealtPlayer\":3005,\"magicDamageDealtPlayer\":107888,\"physicalDamageTaken\":4456,\"magicDamageTaken\":32297,\"timePlayed\":1726,\"assists\":3,\"item0\":3151,\"item1\":1058,\"item2\":3116,\"item3\":1001,\"item4\":3089,\"item5\":3191,\"item6\":3340,\"magicDamageDealtToChampions\":28616,\"physicalDamageDealtToChampions\":490,\"totalDamageDealtToChampions\":30657,\"trueDamageDealtPlayer\":1685,\"trueDamageDealtToChampions\":1550,\"trueDamageTaken\":402,\"wardPlaced\":5,\"neutralMinionsKilledEnemyJungle\":3,\"totalTimeCrowdControlDealt\":639}},{\"gameId\":1343936167,\"invalid\":false,\"gameMode\":\"CLASSIC\",\"gameType\":\"MATCHED_GAME\",\"subType\":\"URF\",\"mapId\":1,\"teamId\":100,\"championId\":8,\"spell1\":12,\"spell2\":14,\"level\":30,\"ipEarned\":51,\"createDate\":1397331563165,\"fellowPlayers\":[{\"summonerId\":28389984,\"teamId\":200,\"championId\":412},{\"summonerId\":42242206,\"teamId\":100,\"championId\":57},{\"summonerId\":2432[...]
