---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.3/game/by-summoner/42139310/recent?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"summonerId\":42139310,\"games\":[{\"gameId\":1341356744,\"invalid\":false,\"gameMode\":\"CLASSIC\",\"gameType\":\"MATCHED_GAME\",\"subType\":\"NORMAL\",\"mapId\":1,\"teamId\":200,\"championId\":5,\"spell1\":11,\"spell2\":4,\"level\":30,\"ipEarned\":89,\"createDate\":1397148392214,\"fellowPlayers\":[{\"summonerId\":32265514,\"teamId\":200,\"championId\":92},{\"summonerId\":22067864,\"teamId\":100,\"championId\":77},{\"summonerId\":45662806,\"teamId\":100,\"championId\":76},{\"summonerId\":25156355,\"teamId\":200,\"championId\":50},{\"summonerId\":45156439,\"teamId\":200,\"championId\":37},{\"summonerId\":34248520,\"teamId\":100,\"championId\":412},{\"summonerId\":52959146,\"teamId\":100,\"championId\":22},{\"summonerId\":22684119,\"teamId\":100,\"championId\":48},{\"summonerId\":32415708,\"teamId\":200,\"championId\":81}],\"stats\":{\"level\":15,\"goldEarned\":9165,\"numDeaths\":6,\"turretsKilled\":1,\"minionsKilled\":31,\"championsKilled\":3,\"goldSpent\":8013,\"totalDamageDealt\":96672,\"totalDamageTaken\":22923,\"team\":200,\"win\":true,\"neutralMinionsKilled\":58,\"largestMultiKill\":1,\"physicalDamageDealtPlayer\":56073,\"magicDamageDealtPlayer\":32512,\"physicalDamageTaken\":19546,\"magicDamageTaken\":2536,\"largestCriticalStrike\":333,\"timePlayed\":1896,\"totalHeal\":6768,\"totalUnitsHealed\":1,\"assists\":4,\"item0\":3154,\"item1\":3078,\"item2\":3111,\"item3\":2003,\"item4\":1011,\"item6\":3341,\"sightWardsBought\":1,\"magicDamageDealtToChampions\":1271,\"physicalDamageDealtToChampions\":7048,\"totalDamageDealtToChampions\":8402,\"trueDamageDealtPlayer\":8086,\"trueDamageDealtToChampions\":82,\"trueDamageTaken\":840,\"wardKilled\":2,\"wardPlaced\":6,\"neutralMinionsKilledEnemyJungle\":7,\"neutralMinionsKilledYourJungle\":51,\"totalTimeCrowdControlDealt\":319}},{\"gameId\":1341363090,\"invalid\":false,\"gameMode\":\"CLASSIC\",\"gameType\":\"MATCHED_GAME\",\"subType\":\"NORMAL\",\"mapId\":1,\"teamId\":200,\"championId\":91,\"spell1\":14,\"spell2\":4,\"level\":30,\"ipEarned\":239,\"createDate\":1397146137416,\"fellowPlayers\":[{\"summonerId\":34987932,\"teamId\":100,\"championId\":54},{\"summonerId\":32265514,\"teamId\":200,\"championId\":254},{\"summonerId\":31184418,\"teamId\":100,\"championId\":115},{\"summonerId\":37841852,\"teamId\":100,\"championId\":89},{\"summonerId\":37762223,\"teamId\":100,\"championId\":6},{\"summonerId\":24951638,\"teamId\":100,\"championId\":222},{\"summonerId\":25156355,\"teamId\":200,\"championId\":26},{\"summonerId\":32415708,\"teamId\":200,\"championId\":62},{\"summonerId\":41291819,\"teamId\":200,\"championId\":81}],\"stats\":{\"level\":15,\"goldEarned\":9929,\"numDeaths\":5,\"minionsKilled\":130,\"championsKilled\":2,\"goldSpent\":8592,\"totalDamageDealt\":87177,\"totalDamageTaken\":18007,\"team\":200,\"win\":true,\"neutralMinionsKilled\":7,\"largestMultiKill\":1,\"physicalDamageDealtPlayer\":86977,\"physicalDamageTaken\":9125,\"magicDamageTaken\":8461,\"timePlayed\":1896,\"totalHeal\":362,\"totalUnitsHealed\":1,\"assists\":7,\"item0\":3074,\"item1\":3035,\"item2\":1028,\"item3\":2003,\"item4\":3117,\"item5\":3134,\"item6\":3340,\"physicalDamageDealtToChampions\":5924,\"totalDamageDealtToChampions\":6124,\"trueDamageDealtPlayer\":200,\"trueDamageDealtToChampions\":200,\"trueDamageTaken\":420,\"wardPlaced\":7,\"neutralMinionsKilledEnemyJungle\":1,\"neutralMinionsKilledYourJungle\":6,\"totalTimeCrowdControlDealt\":674}},{\"gameId\":1340352678,\"invalid\":false,\"gameMode\":\"CLASSIC\",\"gameType\":\"MATCHED_GAME\",\"subType\":\"NORMAL\",\"mapId\":1,\"teamId\":200,\"championId\":91,\"spell1\":14,\"spell[...]
