---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.3/game/by-summoner/42139310/recent?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"summonerId":42139310,"games":[{"gameId":1695700257,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":11,"teamId":200,"championId":8,"spell1":12,"spell2":4,"level":30,"ipEarned":67,"createDate":1421170133773,"fellowPlayers":[{"summonerId":51529968,"teamId":200,"championId":61},{"summonerId":31781056,"teamId":100,"championId":412},{"summonerId":39682827,"teamId":100,"championId":20},{"summonerId":24434009,"teamId":100,"championId":122},{"summonerId":45801250,"teamId":100,"championId":104},{"summonerId":51390645,"teamId":200,"championId":35},{"summonerId":50456490,"teamId":200,"championId":37},{"summonerId":32015985,"teamId":100,"championId":268},{"summonerId":38950966,"teamId":200,"championId":81}],"stats":{"level":16,"goldEarned":11278,"numDeaths":11,"minionsKilled":163,"championsKilled":4,"goldSpent":10150,"totalDamageDealt":144544,"totalDamageTaken":39167,"team":200,"win":false,"neutralMinionsKilled":4,"largestMultiKill":1,"physicalDamageDealtPlayer":9575,"magicDamageDealtPlayer":134969,"physicalDamageTaken":16009,"magicDamageTaken":18712,"timePlayed":2166,"totalHeal":11696,"totalUnitsHealed":1,"assists":10,"item0":1054,"item1":3152,"item2":3157,"item3":3211,"item4":3275,"item5":3067,"item6":3340,"magicDamageDealtToChampions":19974,"physicalDamageDealtToChampions":707,"totalDamageDealtToChampions":20681,"trueDamageTaken":4446,"wardPlaced":2,"neutralMinionsKilledYourJungle":4,"totalTimeCrowdControlDealt":65}},{"gameId":1695657651,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"NORMAL","mapId":11,"teamId":200,"championId":4,"spell1":6,"spell2":4,"level":30,"ipEarned":228,"createDate":1421167438938,"fellowPlayers":[{"summonerId":51529968,"teamId":200,"championId":267},{"summonerId":55855781,"teamId":100,"championId":67},{"summonerId":64019255,"teamId":100,"championId":268},{"summonerId":51390645,"teamId":200,"championId":64},{"summonerId":60945617,"teamId":100,"championId":64},{"summonerId":61045284,"teamId":100,"championId":11},{"summonerId":50456490,"teamId":200,"championId":122},{"summonerId":38950966,"teamId":200,"championId":81},{"summonerId":56139114,"teamId":100,"championId":54}],"stats":{"level":14,"goldEarned":9690,"turretsKilled":1,"minionsKilled":159,"championsKilled":6,"goldSpent":8225,"totalDamageDealt":99981,"totalDamageTaken":6565,"doubleKills":1,"killingSprees":1,"largestKillingSpree":6,"team":200,"win":true,"neutralMinionsKilled":4,"largestMultiKill":2,"physicalDamageDealtPlayer":14408,"magicDamageDealtPlayer":85572,"physicalDamageTaken":3022,"magicDamageTaken":3347,"timePlayed":1590,"totalHeal":215,"totalUnitsHealed":1,"assists":2,"item0":1056,"item1":3100,"item2":3157,"item3":2044,"item4":3020,"item5":2003,"item6":3340,"sightWardsBought":1,"magicDamageDealtToChampions":10539,"physicalDamageDealtToChampions":225,"totalDamageDealtToChampions":10765,"trueDamageTaken":196,"wardPlaced":4,"neutralMinionsKilledYourJungle":4,"totalTimeCrowdControlDealt":125}},{"gameId":1695650853,"invalid":false,"gameMode":"CLASSIC","gameType":"MATCHED_GAME","subType":"RANKED_TEAM_3x3","mapId":10,"teamId":100,"championId":80,"spell1":14,"spell2":4,"level":30,"ipEarned":44,"createDate":1421161182562,"fellowPlayers":[{"summonerId":24639929,"teamId":100,"championId":82},{"summonerId":99001,"teamId":200,"championId":92},{"summonerId":37055784,"teamId":200,"championId":62},{"summonerId":47640623,"teamId":100,"championId":254},{"summonerId":37135570,"teamId":200,"championId":105}],"stats":{"level":10,"goldEarned":5094,"numDeaths":8,"minionsKilled":69,"championsKilled":2,"goldSpent":4237,"totalDamageDealt":34885,"totalDamageTaken":15297,"team":100,"win":false,"neutralMinionsKilled":2,"largestMultiKill":1,"physicalDamageDealtPlayer":30790,"magicDamageDealtPlayer":3725,"physicalDamageTaken":10297,"magicDamageTaken":4462,"largestCriticalStrike":645,"timePlayed":1148,"totalHeal":226,"totalUnitsHealed":1,"assists":1,"item0":1055,"item1":2003,"item2":3134,"item3":1055,"item4":1001,"item5":3155,"magicDamageDealtToChampions":678,"physicalDamageDealtToChampions":5538,"totalDamageDealtToChampions":6497,"trueDamageDealtPlayer":370,"trueDamageDealtToChampions":280,"trueDamageTaken":538,"neutralMinionsKilledYourJungle":2,"totalTimeCrowdControlDealt":32}},{"gameId":1694751874,"invalid":false,"gameMode":"ARAM","gameType":"MATCHED_GAME","subType":"ARAM_UNRANKED_5x5","mapId":12,"teamId":200,"championId":1,"spell1":14,"spell2":4,"level":30,"ipEarned":38,"createDate":1421080575734,"fellowPlayers":[{"summonerId":53921980,"teamId":100,"championId":99},{"summonerId":24972283,"teamId":200,"championId":113},{"summonerId":34443095,"teamId":100,"championId":30},{"s[...]
