---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.2/champion/17?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":17,\"active\":true,\"botEnabled\":false,\"freeToPlay\":false,\"botMmEnabled\":false,\"rankedPlayEnabled\":true}"
  recorded_at: Mon, 14 Apr 2014 13:28:40 GMT
recorded_with: VCR 2.9.0
