---
http_interactions:
- request:
    method: get
    uri: http://na.api.pvp.net/api/lol/static-data/na/v1.2/item/2009?api_key=test_key&itemData=all&locale=en_US&version=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":2009,\"name\":\"Total Biscuit of Rejuvenation\",\"gold\":{\"base\":0,\"total\":0,\"sell\":0,\"purchasable\":false},\"description\":\"<consumable>Click
        to Consume:</consumable> Restores 80 Health and 50 Mana over 10 seconds.\",\"sanitizedDescription\":\"Click
        to Consume: Restores 80 Health and 50 Mana over 10 seconds.\",\"consumed\":true,\"inStore\":false,\"image\":{\"full\":\"2009.png\",\"sprite\":\"item0.png\",\"group\":\"item\",\"x\":0,\"y\":144,\"w\":48,\"h\":48},\"stats\":{}}"
  recorded_at: Mon, 21 Apr 2014 10:11:54 GMT
recorded_with: VCR 2.9.0
