---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.5/league/by-summoner/19347723?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"19347723":[{"name":"Udyr''s Duelists","tier":"GOLD","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"64289369","playerOrTeamName":"LeagueOfGrabs","division":"V","leaguePoints":0,"wins":79,"losses":81,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"76593","playerOrTeamName":"Palmer","division":"I","leaguePoints":61,"wins":42,"losses":45,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"27942186","playerOrTeamName":"Sommbro","division":"V","leaguePoints":0,"wins":164,"losses":141,"isHotStreak":false,"isVeteran":false,"isFreshBlood":true,"isInactive":false},{"playerOrTeamId":"121216","playerOrTeamName":"OMBlah","division":"I","leaguePoints":75,"wins":13,"losses":16,"is[...]
