---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/static-data/na/v1.2/mastery/6122?api_key=test_key&locale=en_US&masteryData=all&version
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":6122,"name":"Feast","description":["Killing a unit restores 20
        Health (20 second cooldown)."],"sanitizedDescription":["Killing a unit restores
        20 Health (20 second cooldown)."],"ranks":1,"prereq":"0","image":{"full":"6122.png","sprite":"mastery0.png","group":"gray_mastery","x":288,"y":384,"w":48,"h":48},"masteryTree":"Ferocity"}'
  recorded_at: Sun, 15 Nov 2015 21:52:26 GMT
recorded_with: VCR 3.0.0
