---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/static-data/na/v1.2/champion/35?api_key=test_key&champData=all&locale=en_US&version=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":35,\"key\":\"Shaco\",\"name\":\"Shaco\",\"title\":\"the Demon
        Jester\",\"image\":{\"full\":\"Shaco.png\",\"sprite\":\"champion2.png\",\"group\":\"champion\",\"x\":336,\"y\":48,\"w\":48,\"h\":48},\"skins\":[{\"id\":35000,\"name\":\"default\",\"num\":0},{\"id\":35001,\"name\":\"Mad
        Hatter Shaco\",\"num\":1},{\"id\":35002,\"name\":\"Royal Shaco\",\"num\":2},{\"id\":35003,\"name\":\"Nutcracko\",\"num\":3},{\"id\":35004,\"name\":\"Workshop
        Shaco\",\"num\":4},{\"id\":35005,\"name\":\"Asylum Shaco\",\"num\":5},{\"id\":35006,\"name\":\"Masked
        Shaco\",\"num\":6}],\"lore\":\"Most would say that death isn't funny. It isn't,
        unless you're Shaco - then it's hysterical. He is Valoran's first fully functioning
        homicidal comic; he jests until someone dies, and then he laughs. The figure
        that has come to be known as the Demon Jester is an enigma. No one fully agrees
        from whence he came, and Shaco never offers any details on his own. A popular
        belief is that Shaco is not of Runeterra - that he is a thing summoned from
        a dark and twisted world. Still others believe that he is the demonic manifestation
        of humanity's dark urges and therefore cannot be reasoned with. The most plausible
        belief is that Shaco is an assassin for hire, left to his own lunatic devices
        until his services are needed. Shaco certainly has proven himself to be a
        cunning individual, evading authorities at every turn who might seek him for
        questioning for some horrendous, law-breaking atrocity. While such scuttlebutt
        might reassure the native inhabitants of Valoran, it seems unimaginable that
        such a malfeasant figure is allowed to remain at large.<br><br>Whatever the
        truth of his history might be, Shaco has joined the League of Legends for
        reasons only he knows. He is a terrifying figure, typically shunned by both
        his fellow champions and the media at large. Only the summoners in the Institute
        of War know why such a creature was allowed into the League, but most Runeterrans
        suspect it to be a means that allows the power that be to keep an eye on the
        ever-elusive Shaco. Unsurprisingly, this champion is popular in places where
        madness can openly reign, such as among the power-hungry summoners of Zaun
        and Noxus.<br><br>Whatever you do, don't tell him you missed the punch line.\",\"blurb\":\"Most
        would say that death isn't funny. It isn't, unless you're Shaco - then it's
        hysterical. He is Valoran's first fully functioning homicidal comic; he jests
        until someone dies, and then he laughs. The figure that has come to be known
        as the Demon ...\",\"allytips\":[\"Using Deceive over terrain can help you
        make a clean escape.\",\"Try getting items with on-hit effects. These will
        also benefit your Hallucination clone.\",\"Deceive's damage can be increased
        with increased Critical Damage effects like Infinity Edge.\"],\"enemytips\":[\"If
        Shaco is doing well early-game, it is worth the investment to buy Vision Wards.\",\"If
        Shaco uses Deceive to enter a fight he won't be able to quickly use it again
        to get away. Work with your team to quickly focus him down.\"],\"tags\":[\"Assassin\"],\"partype\":\"Mana\",\"info\":{\"attack\":8,\"defense\":4,\"magic\":6,\"difficulty\":9},\"stats\":{\"armor\":19.0,\"armorperlevel\":3.5,\"attackdamage\":51.7,\"attackdamageperlevel\":3.5,\"attackrange\":125.0,\"attackspeedoffset\":-0.1,\"attackspeedperlevel\":3.0,\"crit\":0.0,\"critperlevel\":0.0,\"hp\":441.0,\"hpperlevel\":84.0,\"hpregen\":7.45,\"hpregenperlevel\":0.55,\"movespeed\":350.0,\"mp\":230.0,\"mpperlevel\":40.0,\"mpregen\":6.4,\"mpregenperlevel\":0.45,\"spellblock\":30.0,\"spellblockperlevel\":1.25},\"spells\":[{\"name\":\"Deceive\",\"description\":\"Shaco
        becomes invisible and teleports to target location. His next attack is guaranteed
        to critically strike.\",\"sanitizedDescription\":\"Shaco becomes invisible
        and teleports to target location. His next attack is guaranteed to critically
        strike.\",\"tooltip\":\"Shaco teleports nearby and becomes invisible for 3.5
        seconds.<br><br>His next basic attack within the next 6 seconds will critically
        strike, dealing {{ e1 }}% damage (normal critical strikes deal {{ e2 }}% damage).\",\"sanitizedTooltip\":\"Shaco
        teleports nearby and becomes invisible for 3.5 seconds. His next basic attack
        within the next 6 seconds will critically strike, dealing {{ e1 }}% damage
        (normal critical strikes deal {{ e2 }}% damage).\",\"leveltip\":{\"label\":[\"Critical
        Strike Damage\",\"Mana Cost\"],\"effect\":[\"{{ e1 }}% -> {{ e1NL }}%\",\"{{
        cost }} -> {{ costnNL }}\"]},\"image\":{\"full\":\"Deceive.png\",\"sprite\":\"spell8.png\",\"group\":\"spell\",\"x\":240,\"y\":0,\"w\":48,\"h\":48},\"resource\":\"{{
        cost }} Mana\",\"maxrank\":5,\"cost\":[90,80,70,60,50],\"costType\":\"Mana\",\"costBurn\":\"90/80/70/60/50\",\"cooldown\":[0.0,0.0,0.0,0.0,0.0],\"cooldownBurn\":\"0\",\"effect\":[[140,160,180,200,220],[200,200,200,200,200],[3,3,3,3,3],[6,6,6,6,6]],\"effectBurn\":[\"140/160/180/200/220\",\"200\",\"3.5\",\"6\"],\"range\":[400,400,400,400,400],\"rangeBurn\":\"400\",\"key\":\"Deceive\"},{\"name\":\"Jack
        In The Box\",\"description\":\"Shaco creates an animated Jack-in-the-Box at
        target location, which will wait, invisible, to Fear nearby units and attack
        them when some come nearby. \",\"sanitizedDescription\":\"Shaco creates an
        animated Jack-in-the-Box at target location, which will wait, invisible, to
        Fear nearby units and attack them when some come nearby.\",\"tooltip\":\"Shaco
        creates a Jack in the Box at the target location. It will become invisible
        after 2 seconds, and pop out when an enemy comes near, fearing nearby enemies
        for {{ e3 }} seconds and attacking them.<br><br>Its attacks deal {{ e1 }}
        <span class=\\\"color99FF99\\\">(+{{ a1 }})</span> magic damage and it lasts
        for {{ e4 }} seconds while invisible or 5 seconds while firing. \",\"sanitizedTooltip\":\"Shaco
        creates a Jack in the Box at the target location. It will become invisible
        after 2 seconds, and pop out when an enemy comes near, fearing nearby enemies
        for {{ e3 }} seconds and attacking them. Its attacks deal {{ e1 }} (+{{ a1
        }}) magic damage and it lasts for {{ e4 }} seconds while invisible or 5 seconds
        while firing.\",\"leveltip\":{\"label\":[\"Damage\",\"Fear Length\",\"Mana
        Cost\"],\"effect\":[\"{{ e1 }} -> {{ e1NL }}\",\"{{ e3 }} -> {{ e3NL }}\",\"{{
        cost }} -> {{ costnNL }}\"]},\"image\":{\"full\":\"JackInTheBox.png\",\"sprite\":\"spell8.png\",\"group\":\"spell\",\"x\":288,\"y\":0,\"w\":48,\"h\":48},\"resource\":\"{{
        cost }} Mana\",\"maxrank\":5,\"cost\":[50,55,60,65,70],\"costType\":\"Mana\",\"costBurn\":\"50/55/60/65/70\",\"cooldown\":[0.0,0.0,0.0,0.0,0.0],\"cooldownBurn\":\"0\",\"effect\":[[35,50,65,80,95],[200,300,400,500,600],[0,0,1,1,1],[60,60,60,60,60]],\"effectBurn\":[\"35/50/65/80/95\",\"200/300/400/500/600\",\"0.5/0.75/1/1.25/1.5\",\"60\"],\"vars\":[{\"key\":\"a1\",\"link\":\"spelldamage\",\"coeff\":[0.2]}],\"range\":[425,425,425,425,425],\"rangeBurn\":\"425\",\"key\":\"JackInTheBox\"},{\"name\":\"Two-Shiv
        Poison\",\"description\":\"Shaco's Shivs passively poison targets on hit,
        slowing them and applying a miss chance to minions. He can throw his Shivs
        to deal damage and poison the target.\",\"sanitizedDescription\":\"Shaco's
        Shivs passively poison targets on hit, slowing them and applying a miss chance
        to minions. He can throw his Shivs to deal damag[...]
