---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.5/league/challenger?api_key=test_key&locale=en_US&type=RANKED_SOLO_5x5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Riven''s Cutthroats","tier":"CHALLENGER","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"24889598","playerOrTeamName":"LeBron
        23","division":"I","leaguePoints":604,"wins":147,"losses":102,"isHotStreak":true,"isVeteran":true,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"32002853","playerOrTeamName":"FluffyBigKoala","division":"I","leaguePoints":568,"wins":161,"losses":81,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"36119978","playerOrTeamName":"Kazahana","division":"I","leaguePoints":624,"wins":472,"losses":407,"isHotStreak":false,"isVeteran":true,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"54888638","playerOrTeamName":"Dir
        Yuny","division":"I","leaguePoints":[...]
