---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.5/league/by-team/TEAM-d9b35f00-5284-11e5-8e3e-c81f66ddabda/entry?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"TEAM-d9b35f00-5284-11e5-8e3e-c81f66ddabda":[{"name":"Nami''s Enforcers","tier":"CHALLENGER","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-d9b35f00-5284-11e5-8e3e-c81f66ddabda","playerOrTeamName":"FTC
        Esports","division":"I","leaguePoints":336,"wins":101,"losses":33,"isHotStreak":false,"isVeteran":true,"isFreshBlood":false,"isInactive":false}]}]}'
  recorded_at: Sun, 15 Nov 2015 17:52:21 GMT
recorded_with: VCR 3.0.0
