---
http_interactions:
- request:
    method: get
    uri: http://na.api.pvp.net/api/lol/na/v2.3/league/by-summoner/34682697/entry?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\"playerOrTeamId\":\"34682697\",\"playerOrTeamName\":\"ojarusang\",\"leagueName\":\"Evelynn's
        Butchers\",\"queueType\":\"RANKED_SOLO_5x5\",\"tier\":\"PLATINUM\",\"rank\":\"IV\",\"leaguePoints\":100,\"wins\":9,\"isHotStreak\":false,\"isVeteran\":false,\"isFreshBlood\":false,\"isInactive\":false,\"miniSeries\":{\"target\":2,\"wins\":0,\"losses\":0,\"timeLeftToPlayMillis\":-1,\"progress\":\"NNN\"},\"lastPlayed\":-1}]"
  recorded_at: Sun, 13 Apr 2014 20:17:57 GMT
recorded_with: VCR 2.9.0
