---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.5/league/by-summoner/64878685/entry?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"64878685":[{"name":"Taric''s Mercenaries","tier":"GOLD","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"64878685","playerOrTeamName":"hello
        im shishi","division":"V","leaguePoints":0,"wins":74,"losses":80,"isHotStreak":true,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]}]}'
  recorded_at: Sun, 15 Nov 2015 17:52:18 GMT
recorded_with: VCR 3.0.0
