---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/64878685?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"64878685":{"id":64878685,"name":"hello im shishi","profileIconId":956,"summonerLevel":30,"revisionDate":1447509622000}}'
  recorded_at: Sun, 15 Nov 2015 14:27:50 GMT
recorded_with: VCR 3.0.0
