---
http_interactions:
- request:
    method: get
    uri: http://na.api.pvp.net/api/lol/na/v1.4/summoner/42139310?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"42139310\":{\"id\":42139310,\"name\":\"shishisn\",\"profileIconId\":568,\"summonerLevel\":30,\"revisionDate\":1397723087000}}"
  recorded_at: Fri, 18 Apr 2014 18:24:19 GMT
recorded_with: VCR 2.9.0
