---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.3/stats/by-summoner/64878685/summary?api_key=test_key&locale=en_US&season=SEASON2015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"summonerId":64878685,"playerStatSummaries":[{"playerStatSummaryType":"CoopVsAI","wins":7,"modifyDate":1421879006000,"aggregatedStats":{"totalChampionKills":31,"totalMinionKills":266,"totalTurretsKilled":15,"totalNeutralMinionsKilled":1,"totalAssists":59}},{"playerStatSummaryType":"CoopVsAI3x3","wins":298,"modifyDate":1421879006000,"aggregatedStats":{"totalChampionKills":986,"totalMinionKills":13542,"totalTurretsKilled":432,"totalNeutralMinionsKilled":12,"totalAssists":546}},{"playerStatSummaryType":"CounterPick","wins":1,"modifyDate":1433443306000,"aggregatedStats":{"totalChampionKills":4,"totalMinionKills":134,"totalTurretsKilled":0,"totalNeutralMinionsKilled":0,"totalAssists":15}},{"playerStatSummaryType":"RankedTeam3x3","wins":1,"losses":2,"modifyDate":1424271208000,"aggregatedStats":{"totalChampionKills":10,"totalMinionKills":310,"totalTurretsKilled":2,"totalNeutralMinionsKilled":0,"totalAssists":10}},{"playerStatSummaryType":"RankedTeam5x5","wins":6,"losses":6,"modifyDate":1422293911000,"aggregatedStats":{"totalChampionKills":31,"totalMinionKills":228,"totalTurretsKilled":1,"totalNeutralMinionsKilled":593,"totalAssists":75}},{"playerStatSummaryType":"URF","wins":2,"modifyDate":1436844271000,"aggregatedStats":{"totalChampionKil[...]
