---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.3/stats/by-summoner/64878685/ranked?api_key=test_key&locale=en_US&season
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"summonerId":64878685,"modifyDate":1445723344000,"champions":[{"id":111,"stats":{"totalSessionsPlayed":16,"totalSessionsLost":8,"totalSessionsWon":8,"totalChampionKills":38,"totalDamageDealt":873135,"totalDamageTaken":318624,"mostChampionKillsPerSession":8,"totalMinionKills":422,"totalDoubleKills":5,"totalTripleKills":0,"totalQuadraKills":0,"totalPentaKills":0,"totalUnrealKills":0,"totalDeathsPerSession":72,"totalGoldEarned":131163,"mostSpellsCast":0,"totalTurretsKilled":2,"totalPhysicalDamageDealt":225368,"totalMagicDamageDealt":580309,"totalFirstBlood":0,"totalAssists":137,"maxChampionsKilled":8,"maxNumDeaths":9}},{"id":5,"stats":{"totalSessionsPlayed":2,"totalSessionsLost":2,"totalSessionsWon":0,"totalChampionKills":1,"totalDamageDealt":183955,"totalDamageTaken":59328,"mostChampionKillsPerSession":1,"totalMinionKills":50,"totalDoubleKills":0,"totalTripleKills":0,"totalQuadraKills":0,"totalPentaKills":0,"totalUnrealKills":0,"totalDeathsPerSession":19,"totalGoldEarned":17276,"mostSpellsCast":0,"totalTurretsKilled":0,"totalPhysicalDamageDealt":108842,"totalMagicDamageDealt":63269,"totalFirstBlood":0,"to[...]
