---
http_interactions:
- request:
    method: get
    uri: http://na.api.pvp.net/api/lol/na/v1.4/summoner/42139310/masteries?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"42139310\":{\"summonerId\":42139310,\"pages\":[{\"id\":35861253,\"name\":\"AD\",\"current\":true,\"masteries\":[{\"id\":4212,\"rank\":2},{\"id\":4211,\"rank\":2},{\"id\":4121,\"rank\":1},{\"id\":4112,\"rank\":4},{\"id\":4222,\"rank\":3},{\"id\":4221,\"rank\":1},{\"id\":4122,\"rank\":3},{\"id\":4152,\"rank\":3},{\"id\":4113,\"rank\":2},{\"id\":4134,\"rank\":2},{\"id\":4132,\"rank\":1},{\"id\":4142,\"rank\":3},{\"id\":4232,\"rank\":1},{\"id\":4162,\"rank\":1},{\"id\":4131,\"rank\":1}]},{\"id\":35861254,\"name\":\"AP\",\"current\":false,\"masteries\":[{\"id\":4212,\"rank\":2},{\"id\":4211,\"rank\":2},{\"id\":4121,\"rank\":1},{\"i[...]
