---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/64878685/masteries?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"64878685":{"summonerId":64878685,"pages":[{"id":60130331,"name":"free","current":false},{"id":60130332,"name":"AD","current":false,"masteries":[{"id":6131,"rank":5},{"id":6343,"rank":1},{"id":6122,"rank":1},{"id":6111,"rank":5},{"id":6331,"rank":5},{"id":6141,"rank":1},{"id":6312,"rank":5},{"id":6322,"rank":1},{"id":6162,"rank":1},{"id":6151,"rank":5}]},{"id":60130333,"name":"AD
        mid","current":false,"masteries":[{"id":6114,"rank":5},{"id":6343,"rank":1},{"id":6122,"rank":1},{"id":6154,"rank":4},{"id":6331,"rank":5},{"id":6141,"rank":1},{"id":6312,"rank":5},{"id":6322,"rank":1},{"id":6151,"rank":1},{"id":6134,"rank":5},{"id":6164,"rank":1}]},{"id"[...]
