---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/static-data/na/v1.2/map?api_key=test_key&locale=en_US&version
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"map","version":"5.22.3","data":{"1":{"mapName":"SummonersRift","mapId":1,"image":{"full":"map1.png","sprite":"map0.png","group":"map","x":96,"y":0,"w":48,"h":48}},"10":{"mapName":"NewTwistedTreeline","mapId":10,"image":{"full":"map10.png","sprite":"map0.png","group":"map","x":0,"y":0,"w":48,"h":48}},"8":{"mapName":"CrystalScar","mapId":8,"image":{"full":"map8.png","sprite":"map0.png","group":"map","x":192,"y":0,"w":48,"h":48}},"11":{"mapName":"SummonersRiftNew","mapId":11,"image":{"full":"map11.png","sprite":"map0.png","group":"map","x":144,"y":0,"w":48,"h":48}},"12":{"mapName":"ProvingGroundsNew","mapId":12,"image":{"full":"map12.png","sprite":"map0.png","group":"map","x":48,"y":0,"w":48,"h":48}}}}'
  recorded_at: Sun, 15 Nov 2015 21:52:22 GMT
recorded_with: VCR 3.0.0
