---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.3/stats/by-summoner/42139310/summary?api_key=test_key&locale=en_US&season=SEASON3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"summonerId\":42139310,\"playerStatSummaries\":[{\"playerStatSummaryType\":\"AramUnranked5x5\",\"wins\":5,\"modifyDate\":1380961387000,\"aggregatedStats\":{\"totalChampionKills\":44,\"totalTurretsKilled\":3,\"totalAssists\":131}},{\"playerStatSummaryType\":\"CAP5x5\",\"wins\":0,\"modifyDate\":1375430552000,\"aggregatedStats\":{}},{\"playerStatSummaryType\":\"CoopVsAI\",\"wins\":3,\"modifyDate\":1366429253000,\"aggregatedStats\":{\"totalChampionKills\":4,\"totalMinionKills\":293,\"totalTurretsKilled\":5,\"totalNeutralMinionsKilled\":0,\"totalAssists\":14}},{\"playerStatSummaryType\":\"FirstBlood1x1\",\"wins\":2,\"modifyDate\":1388567148000,\"aggregatedStats\":{}},{\"playerStatSummaryType\":\"FirstBlood2x2\",\"wins\":1,\"modifyDate\":1388567148000,\"aggregatedStats\":{}},{\"playerStatSummaryType\":\"OdinUnranked\",\"wins\":0,\"modifyDate\":1375430552000,\"aggregatedStats\":{}},{\"playerStatSummaryType\":\"RankedSolo5x5\",\"wins\":7,\"losses\":8,\"modifyDate\":1378635320000,\"aggregatedStats\":{\"totalChampionKills\":33,\"totalMinionKills\":460,\"totalTurretsKilled\":5,\"totalNeutralMinionsKilled\":521,\"totalAssists\":124}},{\"playerStatSummaryType\":\"Unranked\",\"wins\":183,\"modifyDate\":1388877115000,\"aggregatedStats\":{\"totalChampionKills\":1511,\"totalMinionKills\":45930,\"totalTurretsKilled\":357,\"totalNeutralMinionsKilled\":8524,\"totalAssists\":2772}},{\"playerStatSummaryType\":\"Unranked3x3\",\"wins\":0,\"modifyDate\":1375430552000,\"aggregatedStats\":{}}]}"
  recorded_at: Fri, 18 Apr 2014 14:29:56 GMT
recorded_with: VCR 2.9.0
