---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/static-data/na/v1.2/summoner-spell/12?api_key=test_key&locale=en_US&spellData=all&version=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"name\":\"Teleport\",\"description\":\"After channeling for 3.5 seconds,
        teleports your champion to target allied minion, turret, or ward.\",\"sanitizedDescription\":\"After
        channeling for 3.5 seconds, teleports your champion to target allied minion,
        turret, or ward.\",\"tooltip\":\"After channeling for {{ f1 }} seconds, your
        champion teleports to target turret, minion or ward. Teleporting to an allied
        turret puts Teleport on a {{ f3 }} second cooldown instead.<br><br>You may
        reactivate Teleport to cancel it, placing it on a {{ f3 }} second cooldown.\",\"sanitizedTooltip\":\"After
        channeling for {{ f1 }} seconds, your champion teleports to target turret,
        minion or ward. Teleporting to an allied turret puts Teleport on a {{ f3 }}
        second cooldown instead. You may reactivate Teleport to cancel it, placing
        it on a {{ f3 }} second cooldown.\",\"leveltip\":{\"label\":[\"\"],\"effect\":[\"\"]},\"image\":{\"full\":\"SummonerTeleport.png\",\"sprite\":\"spell0.png\",\"group\":\"spell\",\"x\":288,\"y\":48,\"w\":48,\"h\":48},\"resource\":\"No
        Cost\",\"maxrank\":1,\"cost\":[0],\"costType\":\"NoCost\",\"costBurn\":\"0\",\"cooldown\":[300.0],\"cooldownBurn\":\"300\",\"vars\":[{\"key\":\"f1\",\"link\":\"@text\",\"coeff\":[4.0]}],\"range\":[25000],\"rangeBurn\":\"25000\",\"summonerLevel\":6,\"id\":12,\"key\":\"SummonerTeleport\",\"modes\":[\"CLASSIC\",\"TUTORIAL\"]}"
  recorded_at: Mon, 21 Apr 2014 10:12:03 GMT
recorded_with: VCR 2.9.0
