---
http_interactions:
- request:
    method: get
    uri: http://na.api.pvp.net/api/lol/na/v1.3/stats/by-summoner/42139310/ranked?api_key=test_key&locale=en_US&season=SEASON3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"summonerId\":42139310,\"modifyDate\":1378635320000,\"champions\":[{\"id\":111,\"stats\":{\"totalSessionsPlayed\":1,\"totalSessionsLost\":1,\"totalSessionsWon\":0,\"totalChampionKills\":1,\"totalDamageDealt\":50005,\"totalDamageTaken\":20883,\"mostChampionKillsPerSession\":1,\"totalMinionKills\":49,\"totalDoubleKills\":0,\"totalTripleKills\":0,\"totalQuadraKills\":0,\"totalPentaKills\":0,\"totalUnrealKills\":0,\"totalDeathsPerSession\":4,\"totalGoldEarned\":5645,\"mostSpellsCast\":0,\"totalTurretsKilled\":0,\"totalPhysicalDamageDealt\":13901,\"totalMagicDamageDealt\":30453,\"totalFirstBlood\":0,\"totalAssists\":6,\"maxChampionsKilled\":1,\"maxNumDeaths\":4}},{\"id\":5,\"stats\":{\"totalSessionsPlayed\":3,\"totalSessionsLost\":1,\"totalSessionsWon\":2,\"totalChampionKills\":7,\"totalDamageDealt\":99989,\"totalDamageTaken\":34273,\"mostChampionKillsPerSession\":3,\"totalMinionKills\":55,\"totalDoubleKills\":0,\"totalTripleKills\":0,\"totalQuadraKills\":0,\"totalPentaKills\":0,\"totalUnrealKills\":0,\"totalDeathsPerSession\":9,\"totalGoldEarned\":16223,\"mostSpellsCast\":0,\"totalTurretsKilled\":0,\"totalPhysicalDamageDealt\":56188,\"totalMagicDama[...]
