---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/static-data/na/v1.2/mastery?api_key=test_key&locale=en_US&masteryListData=all&version
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"mastery","version":"5.22.3","data":{"6121":{"id":6121,"name":"Double
        Edged Sword","description":["Melee - Deal an additional 3% damage, take an
        additional 1.5% damage.<br>Ranged - Deal and take an additional 2% damage."],"sanitizedDescription":["Melee
        - Deal an additional 3% damage, take an additional 1.5% damage. Ranged - Deal
        and take an additional 2% damage."],"ranks":1,"prereq":"0","image":{"full":"6121.png","sprite":"mastery0.png","group":"gray_mastery","x":240,"y":384,"w":48,"h":48},"masteryTree":"Ferocity"},"6261":{"id":6261,"name":"Grasp
        of the Undying","description":["Every 4 seconds in combat your next attack
        against an enemy champion steals life equal to 3% of your max Health (halved
        for ranged champions)."],"sanitizedDescription":["Every 4 seconds in combat
        your next attack against an enemy champion steals life equal to 3% of your
        max Health (halved for ranged champions)."],"ranks":1,"prereq":"0","image":{"full":"6261.png","sprite":"mastery0.[...]
