---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/static-data/na/v1.2/summoner-spell?api_key=test_key&dataById=false&locale=en_US&spellData=all&version
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"summoner","version":"5.22.3","data":{"SummonerBoost":{"name":"Cleanse","description":"Removes
        all disables and summoner spell debuffs affecting your champion and lowers
        the duration of incoming disables by 65% for 3 seconds.","sanitizedDescription":"Removes
        all disables and summoner spell debuffs affecting your champion and lowers
        the duration of incoming disables by 65% for 3 seconds.","tooltip":"Removes
        all disables and summoner spell debuffs affecting your champion and reduces
        the duration of disables by 65% for the next {{ f1 }} seconds.","sanitizedTooltip":"Removes
        all disables and summoner spell debuffs affecting your champion and reduces
        the duration of disables by 65% for the next {{ f1 }} seconds.","image":{"full":"SummonerBoost.png","sprite":"spell0.png","group":"spell","x":48,"y":0,"w":48,"h":48},"resource":"No
        Cost","maxrank":1,"cost":[0],"costType":"NoCost","costBurn":"0","cooldown":[210.0],"cooldownBurn":"210","vars":[{"key":"f1","link":"@text","coeff":[3.0]}],"range":"self","rangeBurn":"self","summonerLevel":6,"id":1,"key":"SummonerBoost","modes":["CLASSIC","ODIN","TUTORIAL","ARAM","ASCENSION"]},"SummonerTeleport":{"name":"Teleport","description":"After
        channeling for 3.5 seconds, teleports your champion to target allied structure,
        minion, or ward.","sanitizedDescription":"After channeling for 3.5 seconds,
        teleports your champion to target allied structure, minion, or ward.","tooltip":"After
        channeling for {{ f1 }} seconds, your champion teleports to target allied
        structure, minion, or ward.<br><br>You may reactivate Teleport to cancel it,
        placing it on a {{ f3 }} second cooldown.","sanitizedTooltip":"After channeling
        for {{ f1 }} seconds, your champion teleports to target allied structure,
        minion, or ward. You may reactivate Teleport to cancel it, placing it on a
        {{ f3 }} second cooldown.","leveltip":{"label":[""],"effect":[""]},"image":{"full":"SummonerTeleport.png","sprite":"spell0.png","group":"spell","x":144,"y":48,"w":48,"h":48},"resource":"No
        Cost","maxrank":1,"cost":[0],"costType":"NoCost","costBurn":"0","cooldown":[300.0],"cooldownBurn":"300","vars":[{"key":"f1","link":"@text","coeff":[4.0]}],"range":[25000],"rangeBurn":"25000","summonerLevel":6,"id":12,"key":"SummonerTeleport","modes":["CLASSIC","TUTORIAL"]},"SummonerPoroRecall":{"name":"To
        the King!","description":"Quickly travel to the Poro King''s side.","sanitizedDescription":"Quickly
        travel to the Poro King''s side.","tooltip":"<span class=\"colorFFE076\">Passive:</span>
        Hitting an enemy champion with a Poro gives your team a Poro Mark. Upon reaching
        10 Poro Marks, your team summons the Poro King to fight alongside them. While
        the Poro King is active, no Poro Marks can be scored by either team.<br><br><span
        class=\"colorFFE076\">Active:</span> Quickly dash to King Poro''s side. Can
        only be cast while the Poro King is summoned for your team. <br><br><i><span
        class=\"colorFDD017\">''''Poros tug the heartstrings. The rest of you just
        comes along for the ride.''''</span></i>","sanitizedTooltip":"Passive: Hitting
        an enemy champion with a Poro gives your team a Poro Mark. Upon reaching 10
        Poro Marks, your team summons the Poro King to fight alongside them. While
        the Poro King is active, no Poro Marks can be scored by either team. Active:
        Quickly dash to King Poro''s side. Can only be cast while the Poro King is
        summoned for your team. ''''Poros tug the heartstrings. The rest of you just
        comes along for the ride.''''","image":{"full":"SummonerPoroRecall.png","sprite":"spell0.png","group":"spell","x":0,"y":48,"w":48,"h":48},"resource":"No
        Cost","maxrank":1,"cost":[0],"costType":"NoCost","costBurn":"0","cooldown":[10.0],"cooldownBurn":"10","range":"self","rangeBurn":"self","summonerLevel":1,"id":30,"key":"SummonerPoroRecall","modes":["KINGPORO"]},"SummonerDot":{"name":"Ignite","description":"Ignites
        target enemy champion, dealing 70-410 true damage (depending on champion level)
        over 5 seconds, grants you vision of the target, and reduces healing effects
        on them for the duration.","sanitizedDescription":"Ignites target enemy champion,
        dealing 70-410 true damage (depending on champion level) over 5 seconds, grants
        you vision of the target, and reduces healing effects on them for the duration.","tooltip":"Ignite
        deals <span class=\"colorFEFCFF\">{{ f1 }}</span> true damage to target enemy
        champion over 5 seconds, grants you vision of the target and applies Grievous
        Wounds for the duration.<br><br><i>(Grievous Wounds reduces incoming healing
        effects by 50%. This vision does not reveal stealthed enemies.)</i>","sanitizedTooltip":"Ignite
        deals {{ f1 }} true damage to target enemy champion over 5 seconds, grants
        you vision of the target and applies Grievous Wounds for the duration. (Grievous
        Wounds reduces incoming healing effects by 50%. This vision does not reveal
        stealthed enemies.)","leveltip":{"label":[""],"effect":[""]},"image":{"full":"SummonerDot.png","sprite":"spell0.png","group":"spell","x":144,"y":0,"w":48,"h":48},"resource":"No
        Cost","maxrank":1,"cost":[0],"costType":"NoCost","costBurn":"0","cooldown":[180.0],"cooldownBurn":"180","effect":[null,[500.0],[150.0]],"effectBurn":["","500","150"],"vars":[{"key":"f1","link":"@player.level","coeff":[70.0,90.0,110.0,130.0,150.0,170.0,190.0,210.0,230.0,250.0,270.0,290.0,310.0,330.0,350.0,370.0,390.0,410.0]}],"range":[600],"rangeBurn":"600","summonerLevel":10,"id":14,"key":"SummonerDot","modes":["CLASSIC","ODIN","TUTORIAL","ARAM","ASCENSION"]},"SummonerHaste":{"name":"Ghost","description":"Your
        champion can move through units and has 27% increased Movement Speed for 10
        seconds","sanitizedDescription":"Your champion can move through units and
        has 27% increased Movement Speed for 10 seconds","tooltip":"Your champion
        can move through units and has {{ f1 }}% increased Movement Speed for 10 seconds.","sanitizedTooltip":"Your
        champion can move through units and has {{ f1 }}% increased Movement Speed
        for 10 seconds.","image":{"full":"SummonerHaste.png","sprite":"spell0.png","group":"spell","x":288,"y":0,"w":48,"h":48},"resource":"No
        Cost","maxrank":1,"cost":[0],"costType":"NoCost","costBurn":"0","cooldown":[210.0],"cooldownBurn":"210","vars":[{"key":"f1","link":"@text","coeff":[27.0]}],"range":"self","rangeBurn":"self","summonerLevel":1,"id":6,"key":"SummonerHaste","modes":["CLASSIC","ODIN","TUTORIAL","ARAM","ASCENSION"]},"SummonerSnowball":{"name":"Mark","description":"Throw
        a snowball in a straight line at your enemies. If it hits an enemy, they become
        marked and your champion can quickly travel to the marked target as a follow
        up.","sanitizedDescription":"Throw a snowball in a straight line at your enemies.
        If it hits an enemy, they become marked and your champion can quickly travel
        to the marked target as a follow up.","tooltip":"Throw a snowball a long distance,
        dealing {{ f1 }} [...]
