---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v2.3/league/challenger?api_key=test_key&locale=en_US&type=RANKED_TEAM_5x5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"name\":\"Kayle's Tricksters\",\"tier\":\"CHALLENGER\",\"queue\":\"RANKED_TEAM_5x5\",\"entries\":[{\"playerOrTeamId\":\"TEAM-1991eb20-a33e-11e3-b439-782bcb4d1861\",\"playerOrTeamName\":\"FFGPractice\",\"leagueName\":\"Kayle's
        Tricksters\",\"queueType\":\"RANKED_TEAM_5x5\",\"tier\":\"CHALLENGER\",\"rank\":\"I\",\"leaguePoints\":185,\"wins\":42,\"isHotStreak\":true,\"isVeteran\":false,\"isFreshBlood\":false,\"isInactive\":false,\"lastPlayed\":-1},{\"playerOrTeamId\":\"TEAM-3333af10-93ac-11e3-9126-782bcb4d0bb2\",\"playerOrTeamName\":\"is
        my way\",\"leagueName\":\"Kayle's Tricksters\",\"queueType\":\"RANKED_TEAM_5x5\",\"tier\":\"CHALLENGER\",\"rank\":\"I\",\"leaguePoints\":25,\"wins\":44,\"isHotStreak\":true,\"isVeteran\":false,\"isFreshBlood\":false,\"isInactive\":false,\"lastPlayed\":-1},{\"playerOrTeamId\":\"TEAM-5f673670-a959-11e3-a144-782bcb4d1861\",\"playerOrTeamName\":\"WeAreOver\",\"leagueName\":\"Kayle's
        Tricks[...]
