---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/static-data/na/v1.2/rune/5235?api_key=test_key&locale=en_US&runeData=all&version=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"id\":5235,\"name\":\"Quintessence of Ability Power\",\"description\":\"+3.85
        ability power\",\"sanitizedDescription\":\"+3.85 ability power\",\"tags\":[\"magic\",\"flat\",\"quintessence\"],\"image\":{\"full\":\"bl_3_2.png\",\"sprite\":\"rune0.png\",\"group\":\"rune\",\"x\":96,\"y\":144,\"w\":48,\"h\":48},\"stats\":{\"FlatMagicDamageMod\":3.85},\"rune\":{\"isRune\":true,\"tier\":\"2\",\"type\":\"black\"}}"
  recorded_at: Mon, 21 Apr 2014 10:12:01 GMT
recorded_with: VCR 2.9.0
