---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/team/TEAM-e4651800-bec9-11e1-a3be-782bcb4d0bb2?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"TEAM-e4651800-bec9-11e1-a3be-782bcb4d0bb2":{"fullId":"TEAM-e4651800-bec9-11e1-a3be-782bcb4d0bb2","name":"Focus
        Meee","tag":"FM","status":"RANKED","teamStatDetails":[{"teamStatType":"RANKED_TEAM_3x3","wins":0,"losses":0,"averageGamesPlayed":0},{"teamStatType":"RANKED_TEAM_5x5","wins":17,"losses":15,"averageGamesPlayed":0}],"roster":{"ownerId":22226855,"memberList":[{"playerId":20729806,"joinDate":1340605812000,"inviteDate":1340605812000,"status":"MEMBER"},{"playerId":21374340,"joinDate":1350366615000,"inviteDate":1350366580000,"status":"MEMBER"},{"playerId":22226855,"joinDate":1361162024000,"inviteDate":1361162020000,"status":"MEMBER"},{"playerId":21281027,"joinDate":1397286973000,"inviteDate":1397286970000,"status":"MEMBER"},{"playerId":21309695,"joinDate":1397287048000,"inviteDate":1397287041000,"status":"MEMBER"},{"playerId":41849244,"joinDate":1424235978000,"inviteDate":1424235829000,"status":"MEMBER"},{"playerId":39641143,"joinDate":1424238078000,"inviteDate":1424235841000,"status":"MEMBER"},{"playerId":38055319,"joinDate":1424328255000,"inviteDate":1424328251000,"status":"MEMBER"},{"playerId":28407250,"joinDate":1425964548000,"inviteDate":1425964545000,"status":"MEMBER"}]},"matchHistory":[{"kills":19,"deaths":9,"opposingTeamKills":9,"assists":32,"gameMode":"CLASSIC","opposingTeamName":"hahalol","win":true,"invalid":false,"mapId":11,"gameId":1759857790,"date":1426320975892},{"kills":30,"deaths":23,"opposingTeamKills":23,"assists":56,"gameMode":"CLASSIC","opposingTeamName":"WHYYOUSOFKINGGG","win":true,"invalid":false,"mapId":11,"gameId":1759832857,"date":1426318819505},{"kills":10,"deaths":19,"opposingTeamKills":19,"assists":13,"gameMode":"CLASSIC","opposingTeamName":"Trying
        People Out","win":false,"invalid":false,"mapId":11,"gameId":1755967605,"date":1425975076573},{"kills":11,"deaths":19,"opposingTeamKills":19,"assists":28,"gameMode":"CLASSI[...]
