---
http_interactions:
- request:
    method: get
    uri: http://prod.api.pvp.net/api/lol/na/v1.4/summoner/42139310/runes?api_key=test_key&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"42139310\":{\"summonerId\":42139310,\"pages\":[{\"id\":51467491,\"name\":\"Basic
        AD\",\"current\":false,\"slots\":[{\"runeSlotId\":1,\"runeId\":5245},{\"runeSlotId\":2,\"runeId\":5245},{\"runeSlotId\":3,\"runeId\":5245},{\"runeSlotId\":4,\"runeId\":5245},{\"runeSlotId\":5,\"runeId\":5245},{\"runeSlotId\":6,\"runeId\":5245},{\"runeSlotId\":7,\"runeId\":5245},{\"runeSlotId\":8,\"runeId\":5245},{\"runeSlotId\":9,\"runeId\":5245},{\"runeSlotId\":10,\"runeId\":5317},{\"runeSlotId\":11,\"runeId\":5317},{\"runeSlotId\":12,\"runeId\":5317},{\"runeSlotId\":13,\"runeId\":5317},{\"runeSlotId\":14,\"runeId\":5317},{\"runeSlotId\":15,\"runeId\":5317[...]
